@ant-primary-color: #1890ff;

.year-list {
    list-style-type: none;

    .list-item {
        font-size: 12px;
        border-radius: 3px;
        color: #586069;
        cursor: pointer;
        display: block;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        transition: all linear 0.1s;

        &:hover {
            background-color: #eaecef;
        }

        &.selected {
            background-color: @ant-primary-color;
            color: #fff;
        }
    }
}
