@import '../../../static/style/grid.less';

.blog-content:extend(.container) {
    margin: 2rem auto 1rem;
    padding: 2rem;
    min-height: 18rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
