@import '../../../static/style/grid.less';

.blog-content:extend(.container) {
    margin: 32px auto 16px;
    padding: 32px;
    min-height: 290px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
