@import 'default';
@ant-header-line-height: 64px;

.site-header {
    background: #fff;
    padding: 0;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 1;
}

.site-footer {
    color: #939393;
    text-align: center;
}

.beian-link {
    padding-top: 10px;

    a {
        color: inherit;
        &:focus {
            text-decoration: none;
        }

        &:not(:first-child) {
            margin-left: 1rem;
        }

        img {
            vertical-align: bottom;
            margin-right: 2px;
        }
    }
}

.full-height {
    height: calc(100vh - @ant-header-line-height);
    min-height: @ant-header-line-height;
    overflow: auto;
}

.manage-blog-list {
    .full-height;

    &::-webkit-scrollbar {
        opacity: 0;
        width: 12px;
    }

    &:hover {
        &::-webkit-scrollbar {
            width: 12px;
        }
        &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #c1c1c1;
        }
    }
}
