@import 'default';
@ant-header-line-height: 64px;

.full-height {
    height: calc(100vh - @ant-header-line-height);
    min-height: @ant-header-line-height;
    overflow: auto;
}

.manage-blog-list {
    .full-height;

    &::-webkit-scrollbar {
        opacity: 0;
        width: 12px;
    }

    &:hover {
        &::-webkit-scrollbar {
            width: 12px;
        }
        &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #c1c1c1;
        }
    }
}
