.site-header {
    background: #fff;
    padding: 0;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 1;
}

.site-footer {
    color: #939393;
    text-align: center;
}

.beian-link {
    padding-top: 10px;
}

.beian-link a {
    color: inherit;
}

.beian-link a:not(:first-child) {
    margin-left: 1rem;
}

.beian-link a img {
    vertical-align: bottom;
    margin-right: 2px;
}
